# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
.next/
out/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Misc
coverage/

# Uploads
backend/app/storage/uploads/
backend/uploads
