# Environment
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/dasaiko

# LLM
GROQ_API_KEY=

# Authentication
JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256